
ApiRestCuestionario/bin/Debug/netcoreapp3.1/ApiRestCuestionario.dll
ApiRestCuestionario/bin/Debug/netcoreapp3.1/ApiRestCuestionario.pdb
ApiRestCuestionario/obj/Debug/netcoreapp3.1/ApiRestCuestionario.pdb
ApiRestCuestionario/obj/Debug/netcoreapp3.1/ApiRestCuestionario.dll
.vs/ApiRestCuestionario/v16/.suo
