<div style="font-family: Arial, Helvetica, sans-serif; color: #000; background-color: #fff; padding: 20px;">
    <div style="max-width: 600px; margin: auto; background-color: #f9f9f9; padding: 20px; border-radius: 8px; box-shadow: 0 0 10px rgba(0,0,0,0.1); ">
        <div  style=" text-align: center; margin-bottom: 20px; ">
            <img src="{{header}}" alt="Atenea Latam Logo" style="max-width: 100%; height: auto;">
        </div>
        <h2>Recuperación de Contraseña</h2>
        <p>Has recibido este correo porque solicitaste restablecer tu contraseña para tu cuenta en Atenea Latam. Por favor, haz clic en el botón de abajo para establecer una nueva contraseña:</p>
        <a href="{{link}}" target="_blank" class="button" style=" display: block; width: 100%; padding: 10px; margin: 20px 0; background-color: #f79450; color: #ffffff; text-align: center; text-decoration: none; border-radius: 5px; ">Restablecer Contraseña</a>
        <p style="font-size: 0.9em; color: #666666; margin-top: 20px;">Si el botón de arriba no funciona, copia y pega el siguiente enlace en tu navegador:</p>
        <p style="font-size: 0.9em; color: #666666; margin-top: 20px;">
            {{ link }}
        </p>
        <div  style="text-align: center; font-size: 0.8em; color: #666666; margin-top: 30px;">
            <p>Si no solicitaste este cambio o necesitas ayuda, por favor contacta a soporte@atenealatam.com.</p>
        </div>
    </div>
</div>
